<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uploaded Files</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Uploaded Files</h1>
    <ul>
        {% for file in files %}
            <li>
                <a href="https://{{ bucket }}.s3.{{ region }}.amazonaws.com/{{ file }}" target="_blank">
                    {{ file }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Go back</a>
</body>
</html>
